@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Orbitron:wght@900&display=swap');

* {


    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#start_body {

    display: grid;
    height: 100vh;
    grid-template-rows: 50px 2fr 400px;
    grid-template-areas: 
        "nav"
        "img"
        "sec2"
    ;
    background-color: antiquewhite;
}

#start_nav {

    grid-area: nav;
    background-color: #2980b9;
    display: flex;
    justify-content: center;
    align-items: center;

}

ul {

    list-style: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    color: #d1b203;
    font-family: orbitron;

}


#start_img {

    grid-area: img;
    background-color: aquamarine;
    display: flex;
    align-items: flex-end;
    justify-content: center;


}

#space_picture {

    height: 400px;
    width: 1263px;

}



#start_sec2 {

    grid-area:sec2 ;
    background-color: #2980b9;

    display: grid;

    grid-template-rows: 3fr 7fr ;
    grid-template-columns: 2fr 1fr ;
    grid-template-areas: 
    "head img2"
    "text img2"
    ;

}

#nerdy_img  {

    grid-area: img2;
    background-color: #2980b9;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

#alien {

    height: 300px;
    width: auto;
}

#nerdy_title {

    grid-area: head;
    background-color: #2980b9;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d1b203;
    font-size: 30px;
    font-family: orbitron;
}

#about_us {

    grid-area: text;
    background-color: #2980b9;
    display: flex;
    justify-content: center;
    align-items: flex-start;
   
    
}

#about_text {

    width: 550px;
    color: #023056;
    font-family: orbitron;
}

a {
    text-decoration: none;
    color: inherit
}

/* nu börjar nästa sida*/


#guide_body {

    display: grid;
    height: 100vh;
    grid-template-rows: 50px 100px 400px;
    grid-template-areas: 
        "menu"
        "title"
        "cards"
    ;
    background-color: antiquewhite;
}

#guide_nav {

    grid-area: menu;
    background-color: #2980b9;
    display: flex;
    justify-content: center;
    align-items: center;

}

#guide_title {

    grid-area: title;
    background-color: #2980b9;
    display: flex;
    justify-content: center;
    align-items: center;

}

#guide_div {

    grid-area: cards;
    background-color: #2980b9;
    display: grid;
}

#tv_img {

    height: 50px;
    width: auto;
}

#lighting_img {

    height: 50px;
    width: auto;
}

#kamera_img {

    height: 50px;
    width: auto;
}

#stereo_img {

    height: 50px;
    width: auto;
}